<main class="container mx-auto px-4 py-8">
  <!-- User Loans Section -->
  <section class="mb-8">
    <h2 class="text-lg font-semibold mb-4">User Loans</h2>
    <%== pagy_nav(@pagy) %>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mt-2">
        <!-- Sample Loan Card -->
        <% if @loans.exists? %>
          <% @loans.each do |loan| %>
            <div class="bg-white shadow-md rounded-md p-4">
                <h3 class="text-lg font-semibold mb-2">Loan <%= loan.id %></h3>
                <p class="text-gray-500 mb-2">Reason: <%= loan.reason %></p>
                <p class="text-gray-500 mb-2">Status: <%= loan.status.capitalize %></p>
                <p class="text-gray-500 mb-2">Amount: <%= loan.amount %>₹</p>
                <p class="text-gray-500 mb-2">Interset Rate: <%= loan.interest_rate %>%</p>
                <% if loan.status.downcase == 'open' %>
                  <p class="text-gray-500 mb-2">Total Amount to be Repaid: <%= loan.total_amount %>₹</p>
                  <div class="flex justify-between">
                    <%= button_to 'Repay', repay_loan_path(loan), method: :post, class: 'bg-green-500 text-white px-4 py-2 rounded-md', data: { turbo_confirm: 'Are you sure you want to pay this loan?' } %>
                  </div>
                <% end %>
                <% if loan.status.downcase == 'approved' %>
                  <div class="flex justify-between">
                    <%= button_to 'Confirm', loan_change_path(loan, status: 'open'), method: :post, class: 'bg-green-500 text-white px-4 py-2 rounded-md', data: { turbo_confirm: 'Are you sure you want to peoceed this loan request?' } %>
                    <%= button_to 'Reject', loan_change_path(loan, status: 'rejected'), method: :post, class: 'bg-red-500 text-white px-4 py-2 rounded-md', data: { turbo_confirm: 'Are you sure you want to reject this loan?' } %>
                  </div>
                <% end %>
            </div>
          <% end %>
        <% else %>
          <div class="col-span-3">
            <div class="bg-white shadow-md rounded-md p-4">
              <h3 class="text-lg font-semibold mb-2">No loans</h3>
              <p class="text-gray-500 mb-2">There are currently no loans to display.</p>
            </div>
          </div>
        <% end %>
    </div>
  </section>
</main>